.home {
    height: 80vh;
    color: black;
}

.container {
    display: flex;
    height: 100%;
    flex:1.5;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.container h1 {
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 1rem;
}

.container p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: (--secondary-text-color);
}

.container span {
    color: var(--accent-color);
}

.get-started-btn {
    background-color: #001d3d;
    color: white ;
    font-size: 1rem ;
    font-weight: 600 ;
    width: 10rem;
    padding: 0.8rem 1.2rem;
    border-radius: 0.4rem;
    transition: background-color, font-size, box-shadow 0.2s;
}

.get-started-btn:hover {
    background-color: #023047;
    color: white;
    font-size: .9rem;
    text-decoration: none ;
    padding: 0.7rem 1.2rem;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);

}


@media screen and (max-width: 900px) {

    .container h1 {
        font-size: 3.2rem;
        line-height: 3rem;
        margin-bottom: 1rem;
    }
    
    .container p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
        color: (--secondary-text-color);
    }

    .get-started-btn {
        background-color: #001d3d;
        color: white ;
        font-size: 1rem ;
        font-weight: 600 ;
        width: 9rem;
        padding: 0.8rem 1rem;
        border-radius: 0.4rem;
        transition: background-color, font-size, box-shadow 0.2s;
    }
    
}

@media screen and (max-width: 640px) {

    .container h1 {
        font-size: 2.5rem;
        line-height: 3rem;
        margin-bottom: 1rem;
    }
    
    .container p {
        font-size: 1rem;
        margin-bottom: 2rem;
        color: (--secondary-text-color);
    }

    .get-started-btn {
        background-color: #001d3d;
        color: white ;
        font-size: 0.9rem ;
        font-weight: 600 ;
        width: 9rem;
        padding: 0.8rem 1rem;
        border-radius: 0.4rem;
        transition: background-color, font-size, box-shadow 0.2s;
    }
    
}


@media screen and (max-width: 500px) {

    .container {
        width: 30rem;
    }
    .container h1 {
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: 1rem;
        width: 15rem;
    }
    
    .container p {
        font-size: 1rem;
        margin-bottom: 2rem;
        color: (--secondary-text-color);
        width: 20rem;
    }

    .get-started-btn {
        background-color: #001d3d;
        color: white ;
        font-size: 0.8rem ;
        font-weight: 600 ;
        width: 8rem;
        padding: 0.7rem 0.9rem;
        border-radius: 0.4rem;
        transition: background-color, font-size, box-shadow 0.2s;
    }
    
}



